<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Analizador de Archivos</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">    
</head>
<body>
    <div class="container">
        <h1>Subir Archivo</h1>
        <form id="uploadForm" enctype="multipart/form-data">
        <div class="file-upload-wrrapper"> 
            <label for="file-upload" class= "custom-file-label">Seleccionar archivo</label>
            <input type="file" name="file" id="file-upload" accept="image/*" capture = "enviroment" required >
            <span id ="file-name">Ningun archivo seleccionado</span>
            <button type="submit">Analizar</button>
        </div>

        <button id = "camera-button" type="button">usar camara</button>

        <div id="camera-container" style="display: none; margin-top: 20px;">
            <video id ="video" autoplay playsinline></video>
            <br>
            <button id="capture-button" type="button">Tomar foto</button>
        </div>

        <canvas id="canvas" style="display: none; max-width: 100%; border: 1px solid #ccc; border-radius: 10px;"></canvas>

        </form>
        <div id="result" class="result"></div>
    </div>
    <script src="{{url_for('static', filename='index.js') }}"></script>
</body>
</html>